{% load static %}
<!DOCTYPE html>
<html>
<title>W3.CSS</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="{% static 'css/login.css' %}">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<body>

        <div class="w3-container w3-display-middle">
                
              
                <div class="w3-card-4" >
                  <header class="w3-container w3-teal">
                    <h1>Successful purchase</h1>
                  </header>
              
                  <div class="w3-container w3-white" >
                    <p>You have purchased Successfully a ticket.Please wait for an sms more details.</p>
                  </div>
              
                  <footer class="w3-container w3-teal">
                    <h5>Thank you</h5>
                  </footer>
                </div>
        </div>
              

</body>
</html>
